<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Join us!</h1>
            </div>
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="Enter Full Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control form-control-user"
                  placeholder="Enter Email Address..."
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control form-control-user"
                  placeholder="Password"
                />
              </div>
              <a class="btn btn-primary btn-user btn-block mt-3"> Sign Up </a>
            </form>
            <hr />
            <div class="text-center">
              Alreay have an account? <a class="small" routerLink="/Login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
