<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active">Integrating API with Angular SPA</a>
  </div>
</nav>
<!-- Container -->
<div class="container-fluid">
  <div class="row">
    <div class="col-8 pt-5 pb-2">
      <h4>Tasks in the database</h4>
    </div>
    <div class="col-2 pt-5 pb-2 offset-2">
      <button
        class="btn btn-dark w-100"
        data-bs-toggle="modal"
        data-bs-target="#AddModal"
      >
        Add
      </button>
    </div>
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
              <th class="text-end"><span class="me-5">Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.status.status }}</td>
              <!-- <td>{{ task.status.status }}</td> -->
              <!-- <td>Status</td> -->
              <td class="text-end">
                <button
                  class="btn btn-sm btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#EditModal"
                  (click)="EditModal(task)"
                >
                  Edit
                </button>

                |
                <button
                  class="btn btn-sm btn-danger me-5"
                  (click)="Delete(task)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal Body -->
<div class="modal fade" id="AddModal" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Task</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <label>Title</label>
        <input type="text" class="form-control" #title />
        <p></p>
        <label>Description</label>
        <textarea class="form-control" #description></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button
          class="btn btn-primary"
          (click)="addNewTask()"
          data-bs-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <label>Title</label>
        <input type="text" class="form-control" #editTitle />
        <p></p>
        <label>Description</label>
        <textarea class="form-control" #editDescription></textarea>
        <p></p>
        <label>Status</label>
        <select class="form-control" #status [(ngModel)]="selectedStatusId">
          <option
            *ngFor="let status of taskStatuses"
            [value]="status.taskStatusID"
          >
            {{ status.status }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button
          class="btn btn-primary"
          (click)="Edit()"
          data-bs-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
