<div class="container mt-5 mb-5">
    <div class="row  ">
        <div class="col-5 bg-gradient-secondary p-5 rounded">
            <h4 class="text-white">Upload Image from PC</h4>
            <form >
              <input type="file" (change)="oninpchange($event)" class="form-control" #image accept="image/*">
              <button type="submit" class="btn btn-primary m-2" (click)="uploadImage()" >Upload</button>
          </form>
        </div>
        <div class="col-2"></div>
        <div class="col-5 bg-gradient-info p-5 rounded">
          <h4 class="text-white">Upload Image Using URL</h4>
          <form >
            <input type="text" class="form-control" #imageUrl>
            <button type="submit" class="btn btn-primary m-2" (click)="uploadImageUsingUrl(imageUrl.value)" >Upload</button>
        </form>
      </div>
    </div>
</div>
<!-- Show list of all images -->
<div class="container">
  <h2>All Images</h2>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Sr #</th>
            <th>Name</th>
            <th>Images</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of gallery let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ image.name }}</td>
            <td><img style="height: 250px;" src="https://localhost:7120/{{image.path}}" alt="Card image cap"></td>
            <td class="text-end">
              <button class="btn btn-danger" (click)="DeleteImage(image.imageFileId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>




