<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <p class="card-text">Select File </p>
        <input class="form-control" type="file" (change)="onFileSelected($event)" accept=".jpg, .png, .pdf">
        <br>
        <button class="btn btn-primary" (click)="onUpload()">Upload</button>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <p class="card-text">Enter URL Here</p>

        <input type="url" class="form-control" placeholder="Enter Url" #urlInput>
        <br>
        <button class="btn btn-primary" (click)="saveUrl()">Save URL</button>
        <hr>
      </div>
    </div>
  </div>
</div>

<br>


<!--File Table  -->
<div class="col-12">
  <div class="table-responsive">
    <table class="table table-dark table-striped">
      <!-- Header -->
      <thead>
        <tr>
          <th>Links</th>
        </tr>
      </thead>

      <!-- Body -->
      <tbody>
        <tr *ngFor="let fff of files">
          <td>{{ fff.filePath }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>

</div>