<div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        routerLink=""
      >
        <img src="./../assets/logo.png" height="80px" style="margin-left:80px"/>
        <!-- <div class="sidebar-brand-text mx-3">T M S</div> -->
      </a>
  
      <!-- Divider -->
      <hr class="sidebar-divider my-0" />
  
      <!-- Nav Item - Auth
      <div class="sidebar-heading">Auth</div>
  
      <li class="nav-item active">
        <a class="nav-link" routerLink="Login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="Signup">Signup</a>
      </li> -->
  
      <!-- Divider -->
      <hr class="sidebar-divider" />
  
      <!-- Heading -->
      <div class="sidebar-heading">Dashboard</div>
  
      <!-- Nav Item -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="Tasks">Tasks</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="Developers">Developers</a>
      </li>
    </ul>
  
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav
          class="navbar navbar-expand navbar-light bg-gradient-primary  topbar mb-4 static-top shadow"
        ></nav>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  